/* src/styles/eventsCalendar.css */
#events-calendar {
  text-align: center;
  background: url('../../images/MSA_background.jpg');
  padding: 50px;
  background-color: #e6e6e6; /* Or any color from your theme */
  margin-bottom: 100px;
}

#events-calendar .event-title {
  color: #00295cf2; /* Or any color from your theme */
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 2.5em; /* Adjust size as needed */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}

#events-calendar .event-description {
  margin-bottom: 20px;
  color: black; /* Or any color from your theme */
  font-size: 1.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: block;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the iframe */
}

.calendar-container iframe {
  border: none; /* Removes the border */
  margin-bottom: 20px; /* Adds space between the iframe */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  border-radius: 10px; /* Optional rounded corners */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .calendar-container iframe {
    width: 100%; /* Makes the iframe responsive */
    height: 600px; /* Adjust height as needed */
  }

  #events-calendar .event-title {
    font-size: 2em; /* Adjust font size for smaller screens */
  }

  #events-calendar .event-description {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}
