#album {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    color: #170827;
  text-decoration: underline #ceb378 5px;
  margin-bottom: 20px;
  font-size: 2rem; /* Use rem for responsive font size */
}

.view-container {
    min-width: 400px;
    width: fit-content;
    max-width: 90%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-image {
    aspect-ratio: 16 / 9;
    width: 800px;
}

.other-previews-container {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    border: 1px solid #ccc;
}

.test-image {
    width: 100%;
    height: 100%;
}

#image0 {
    background-color: red;
}
#image1 {
    background-color: rgb(96, 176, 35);
}   
#image2 {
    background-color: rgb(33, 22, 191);
}
#image3 {
    background-color: rgb(83, 8, 137);
}
#image4 {
    background-color: rgb(215, 174, 8);
}
#image5 {
    background-color: rgb(184, 144, 252);
}

.scroll-list {
    max-width: 90%;
    width: 800px;
    height: 70px;
    border: 1px solid #ccc;
    overflow-x: hidden;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.scroll-list li {
    list-style: none;
}

.scroll-image-box {
    height: 70px;
    width: 70px;
}