/* Main CSS */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: url('../images/MSA_background.jpg');
}

/* Responsive adjustments for the background image */
@media screen and (max-width: 768px) {
  body {
    background-size: cover; /* Ensure the background image fits the screen */
  }
}

.container {
  position: relative;
  margin-top: 100px;
}

.container img {
  display: block;
  width: 100%;
  background-attachment: fixed;
}
