/* src/styles/mentalhealth.css */
#mental-health {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
  }
  .emergency-contacts {
    margin-bottom: 10px;
  }
  
  .mental-health-content {
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* color: #170827; */
  }
  
  .mental-health-title {
    margin-top: 50px;
    color: #170827;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-decoration: underline #ceb378 5px;
  }
  
  .mental-health-contacts {
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 0;
    margin-right: 45px;
    color: #333;
  }


  .mental-health-contacts span:hover {
    text-decoration: underline;
  }

  .mental-health-section h3 {
    color: #333;  /**/
    font-size: 1.75em;
  }
  .community_orgs_header {
    margin-bottom: 10px;
  }

  .mental-health-section li {
    list-style: none;
  }

  .resource-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    place-items: center;
    margin-bottom: 30px;
  }
  .resource-container h3 {
    color: #253e6d;
    text-decoration: underline #ceb378 5px;
  }

  .resource-container li {
    margin-bottom: 15px;
    cursor: pointer;
  }

  .on-campus-resource {
    border: 1px solid #ccc;
    width: 90%;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    min-height: 200px;
    max-height: fit-content;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .on-campus-resource li {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .external-resource li {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .external-resource {
    border: 1px solid #ccc;
    width: 90%;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    align-items: center;
    min-height: 200px;
    max-height: fit-content;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  /* SLIDE DECK */
  .selfcare-title {
    margin-top: 50px;
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline #ceb378 5px;
  }
  .slideshow-container-mh {
    max-width: 90%;
    height: 400px;
    width: 700px;
    min-width: 700px;
    border-radius: 16px;
    border: 5px solid #ceb378;
  }

  h4 {
    font-weight: 100;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .mySlides {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  #img1 {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  #img2 {
    background-color: rgb(206, 144, 144);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  #img3 {
    background-color: blue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  #img4 {
    background-color: rgb(129, 137, 216);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  #img5 {
    background-color: green;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }
  #img6 {
    background-color: rgb(159, 246, 207);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    align-items: center;
  }

  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 1.25rem; /* Use rem for responsive font size */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.language-btn {
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*Trusted Organizations*/

.organizations-container {
  display: grid;
  width: 600px;
  min-width: 40%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
  gap: 2rem;
  margin-bottom: 10px;
  padding: 0px 25px;
}


#org {
  border: 3px solid #ceb378;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.organizations-container div h4 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10px;
}
.organizations-container div p {
  font-size: 0.8rem;
  width: 180px;
  text-align: center;
}
.organizations-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#org img {
  border-radius: 50%;
  width: 90px;
}

.org1 {
  background-color: rgb(7, 68, 58);
}.org6 {
  background-color: white;
}
.org5 {
  background-color: rgb(57, 143, 136);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {

  .mySlides {
    padding: 40px;
  }

  .prev,
  .next {
    font-size: 1rem;
  }
}