nav {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: #170827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ceb378;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav .logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .logo-container img {
  max-width: 60px;
  max-height: 60px;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

nav .logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

nav .main-text {
  font-size: 1.5rem; /* Use rem for responsive font size */
}

nav .subtext {
  font-style: italic;
  font-size: 0.875rem; /* Use rem for responsive font size */
  font-weight: lighter;
}

nav .links {
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}

nav .links li {
  position: relative;
  border-radius: 10px;
}

nav .links a {
  display: block;
  padding: 1em 1.5em;
  font-size: 1rem; /* Use rem for responsive font size */
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, border-radius 0.3s;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
}

nav .links a:hover {
  background-color: #ceb378;
  border-radius: 10px;
  color: #000;
}

nav .links .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgba(18, 21, 27, 0.5);
  width: auto;
  min-width: 150px;
  z-index: 1000;
  border: 1px solid #ceb378;
  border-radius: 10px;
  list-style-type: none;
  text-align: center;
}

nav .links li:hover .dropdown-content,
nav .links .dropdown-content.open {
  display: block;
}

nav i {
  padding-right: 2px;
}

.donation-btn {
  padding: 10;
  border-radius: 12px;
}

.icon-burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.icon-burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.links.open {
  display: flex;
}

@media (max-width: 1000px){
  nav .logo-text .main-text {
    font-size: 1.1rem;
  }
  nav .logo-text .subtext {
    font-size: 0.675rem;
  }

  nav .links a {
    font-size: 0.9rem; /* Use rem for responsive font size  1.125*/
    padding: 1em 1em;
    border-radius: 10px;
  }
}
/* Responsiveness */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  nav .logo-container {
    margin-bottom: 10px;
  }

  nav .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #170827;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  nav .links.open {
    transform: translateY(0);
  }

  nav .links a {
    font-size: 0.8rem; /* Use rem for responsive font size  1.125*/
    padding: 0.5em 1em;
    border-radius: 10px;
  }

  nav .links .dropdown-content {
    width: 100%;
    border-radius: 10px;
    position: static;
  }

  .icon-burger {
    display: flex;
  }

  nav .logo-text .main-text {
    font-size: 1.5rem;
  }
  nav .logo-text .subtext {
    font-size: 0.875rem;
  }
}


