/* src/styles/prayerareas.css */

#prayer-areas-page {
  background-color: #fafcfd;
  padding: 50px;
  text-align: center;
  margin-top: 150px;
}

.event-title {
  color: #170827;
  text-decoration: underline #ceb378 5px;
  margin-bottom: 20px;
  font-size: 2em;
}

.event-description {
  font-size: 20px;
  color: #170827;
  margin-bottom: 20px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

iframe {
  max-width: 100%;
  border-radius: 16px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  iframe {
    width: 100%;
    height: auto;
  }
}
