#sponsor-section {
  background-color: #fafcfd;
  padding: 50px;
  text-align: center;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-btns {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
}

.sponsor-year-btn {
    font-size: 1rem;
    color: #170827;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sponsor-container {
    width: 50%;
    min-width: 400px;
    height: 180px;
    border: 1px solid #ccc;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
}

.title {
    color: #170827;
    text-decoration: underline #ceb378 5px;
    margin-bottom: 20px;
    font-size: 2rem; /* Use rem for responsive font size */
  }

#year-2024 {

}
#year-2023 {
    display: none;
}
#year-2022 {
    display: none;
}
#year-2021 {
    display: none;
}

.sponsor-icon-2024 {
    background-color: red;
}
.sponsor-icon-2023 {
    background-color: rgb(0, 255, 102);
}
.sponsor-icon-2022 {
    background-color: rgb(51, 0, 255);
}
.sponsor-icon-2021 {
    background-color: rgb(255, 0, 166);
}

.sponsor-year {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.sponsor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ceb378;
}