#prayer-areas-page {
  background: url('../../images/MSA_background.jpg');
  background-color: #fafcfd;
  padding: 50px;
  text-align: center;
  margin-top: 20px; /* Add top margin */
}

.event-title {
  color: #00295cf2;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 320px;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
}

.event-description {
  font-size: 1em; /* Ensure consistent font size */
  color: #170827;
  margin-bottom: 20px;
  margin-left: 320px;
  font-family: Arial, sans-serif; /* Ensure consistent font */
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

iframe {
  max-width: 100%;
  border-radius: 16px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .event-title {
    font-size: 1.5em;
    margin-left: 5px;
  }

  .event-description {
    font-size: 0.9em;
    margin-left: 5px;
  }

  iframe {
    width: 100%;
    max-height: 250px;
  }
}
